{% assign company = site.data.company %}
{% if layout.company and layout.company == "nutrition" %}
    {% assign company = site.data.company_nutrition %}
{% endif %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title_seo %}{{ page.title_seo | escape }}{% else %}{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}{% endif %}</title>
{% if page.description_seo %}<meta name="description" content="{{ page.description_seo | escape }}">{% endif %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<meta property="og:locale" content="en_US" />
{% if page.url == "/" %}
    <meta property="og:type" content="website" />
{% else %}
    <meta property="og:type" content="article" />
    <meta property="article:publisher" content="{{ company.facebook | escape }}" />
{% endif %}
<meta property="og:title" content="{% if page.title_seo %}{{ page.title_seo | escape }}{% else %}{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% endif %}" />
{% if page.description_seo %}<meta property="og:description" content="{{ page.description_seo | escape }}" />{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:site_name" content="{{ company.name | escape }}" />
<meta property="og:image" content="{{ company.logo_fb | prepend: site.url | escape }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ company.twitter | remove: "https://twitter.com/" | escape }}" />
<meta name="twitter:creator" content="@{{ company.twitter | remove: "https://twitter.com/" | escape }}" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRaleway%7CDroid+Serif:400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/reset.css">

{% if include.has_carousel %}
<link rel="stylesheet" href="/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/owl-carousel/owl.theme.css">
{% endif %}
{% if include.uses_form %}
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-selectmenu.css">
{% endif %}

<link rel="stylesheet" type="text/css" href="/css/main-1.4.css">

{% if page.url == "/schedule/" %}
<link rel="stylesheet" type="text/css" href="/css/print-1.1.css" media="print">
{% endif %}

<noscript>
    <link rel="stylesheet" type="text/css" href="/css/no-js.css">
</noscript>

<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">

