<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title_seo %}{{ page.title_seo | escape }}{% else %}{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}{% endif %}</title>
{% if page.description_seo %}<meta name="description" content="{{ page.description_seo | escape }}">{% endif %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway|Droid+Serif:400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/reset.css">

{% if include.has_carousel %}
<link rel="stylesheet" href="/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/owl-carousel/owl.theme.css">
{% endif %}
{% if include.uses_form %}
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-selectmenu.css">
{% endif %}

<link rel="stylesheet" type="text/css" href="/css/main.css">

{% if page.url == "/schedule/" %}
<link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
{% endif %}

<noscript>
    <link rel="stylesheet" type="text/css" href="/css/no-js.css">
</noscript>

<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">

