{% if include.allow_online_signups %} 

	{% if include.class_link != nil %}
	
		<a href="{{ include.class_link }}">Buy a Ticket</a>

	{% else %}
	
		{% assign class_details_url = include.class | append: " on " | append: include.day | append: " at " | append: include.start_time | url_encode %}
		{% assign class_name_url = include.class | url_encode %}
		{% comment %}first zoho link: https://zfrmz.com/2qhJ2jxS1BpvDFcaYXtQ{% endcomment %}
		<a href="https://zfrmz.com/jrS8EMvKm4TAIsftw3zT?classname={{ class_name_url }}&classday={{ include.day }}&classtime={{ include.start_time }}&classdetails={{ class_details_url }}">Sign Up</a>

	{% endif %}

{% endif %}
