{% comment %}
{% assign class = site.classes | where: "title",include.class_name | first %}
{% endcomment %}
	
<div class="timetable_label">
	{{ include.class | escape }}
    {% if include.class_instructor and include.class_instructor != blank %}
        with {{ include.class_instructor | escape }}
    {% endif %}
</div>

{% if include.allow_online_signups %} 
	{% assign class_details_url = include.class | append: " on " | append: include.day | append: " at " | append: include.start_time | url_encode %}
	{% assign class_name_url = include.class | url_encode %}
	<div class="timetable_signup">
		<a href="https://zfrmz.com/jrS8EMvKm4TAIsftw3zT?classname={{ class_name_url }}&classday={{ include.day }}&classtime={{ include.start_time }}&classdetails={{ class_details_url }}"><img class="signup_icon" src="/img/icons/add-white.png" alt="Sign Up"></a>
	</div>
{% endif %}
