// VARIABLES

$content_width: 1200px;
$smaller_page_width: 960px;
$section_border_radius: 10px;
$height_colored_divider: 12px;
$height_mobile_nav_bar: 76px;

$font_primary: 'Open Sans', Arial, sans-serif;
$font_heading: 'Raleway', Verdana, sans-serif;
$font_special: 'Droid Serif', 'Times New Roman', serif;


// EXTRA RESETS

button{
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

// HEADLINE STYLES

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FFF;
    font-family: $font_heading;
    a {
        color: inherit;
    }
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 13px;
}

@media screen and (min-width: 480px) {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 40px;
	}
}

@media screen and (min-width: 980px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
}


/* --- icons --- */
/* --- icon small arrow --- */
.icon_small_arrow {
	background-position: center center;
	background-repeat: no-repeat;
    
    &.right_white {
        background-image: url('../img/utils/icon_arrow_right_white.png');
    }

    &.top_white {
        background-image: url('../img/utils/icon_arrow_top_white.png');
    }

    &.top_black {
        background-image: url('../img/utils/icon_arrow_top_black.png');
    }
}

.first_color {
    background-color: $first_color;
}

.second_color {
    background-color: $second_color;
}

.third_color {
    background-color: $third_color;
}



/* --- general --- */

html {
    font-size: 16px; // Use a fixed font size because GymBase uses fixed font sizes and fixed layouts.
    // Unfortunately, users will need to use zoom for accessibility.
}

body {
	padding: 0px;
	margin: 0px;
    font-family: $font_primary;
    font-size: 1rem;
    color: $color_font;
    background-color: $color_background;
    min-width: 320px;
}

a {
	text-decoration: none;
	color: $color_text_link;
    &:hover {
        color: $color_text_linkhover;
    }
}

// BUTTONS

.action_area {
    text-align: center;
}

.mb_button {
    color: #fff;
    background-color: inherit;
    display: inline-block;
    border: 2px solid $color_background;
    padding: 8px 10px;
    transition: 500ms;
    line-height: 1;

    &:hover {
        background-color: $color_background;
    }
}

