// GymBase nav styles

/* --- header --- */
.header_container
{
    position: relative;
	background-color: #fff;
    box-shadow: 0px 2px 2px 0 darken($color_background,10%); // 0 4 3 0
    z-index: 2;
}
.header
{
	width: $content_width;
    max-width: 90%;
	margin: 0 auto;
}
.header_left
{
	float: left;
}
.header_right
{
	float: right;
}
.header_left a
{
	display: block;

}

.header_left a img
{
	float: left;
}


.header_left {
    img {
        height: auto;
        width: 100%;
    }
    a {
        padding: 8px 0 2px;
        width: 170px;
        margin: 0;
        overflow: auto;
    }
}



/* --- menu --- */
.sf-menu
{
	padding: 14px 0 0;
	margin: 0;
    display: none;
}
.sf-menu li
{
	height: 51px;
	margin-left: 23px;
}
.sf-menu li:first-child
{
	margin-left: 0;
}
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active
{
	background: none #fff;
}
.sf-menu li a, .sf-menu li a:visited
{
	font-family: 'arial';
	color: #888;
	border: none;
	padding: 0;
	padding: 12px 0 5px;
}
.sf-menu li:hover a, .sf-menu li.selected a
{
	color: #000;
	border-bottom: 2px solid #59B42D;
}
.sf-menu li ul
{
	width: 190px;
	background: url('../img/utils/header_submenu_arrow.png') 20px 30px no-repeat;
	padding-top: 38px;
}
.sf-menu li ul li
{
	margin-left: 0;
	background-color: #fff;
	padding: 0;
	border-top: 1px solid #FFF;
	height: auto;
}
.sf-menu li:hover ul a
{
	border-bottom: none;
	color: #888;
}
.sf-menu li ul li:hover, .sf-menu li ul li.selected
{
	border-top: 1px solid #E0E0E0;
}
.sf-menu li ul li a
{
	padding: 14px 20px 15px;
	font-size: 12px;
	border-bottom: none;
}
.sf-menu li ul li a:hover, .sf-menu li ul li.selected a
{
	color: #000;
	background-color: #F0F0F0;
}


// Shape It Up nav styles

.sf-menu {
    padding: 32px 0 0px;
    line-height: 1.0;
    list-style: none;
    li {
        height: 46px;
        float: left;
        position: relative;
    }
    a {
        text-decoration: none;
        display: block;
        position: relative;
    }
    li a {
        text-transform: uppercase;
        font-family: $font_primary;
        font-size: 0.9rem;
    }
    li:hover a {
        border-bottom: 2px solid $first_color;
        color: $color_font;
    }
    li.selected a {
        border-bottom: 2px solid $first_color;
        color: $color_font;
    }
}

.sf-menu * {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_container {
    display: none;
}

.page-content {
    margin-top: $height_mobile_nav_bar;
}
.fitness_page, .schedule_page, .staff_page, .contact_page, page-content.mobile-padding {
    margin-top: calc(#{$height_mobile_nav_bar} + 25px);
}

.mobile_nav_wrapper {
    z-index: 5;
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(#{$height_mobile_nav_bar}) translateY(-100%);
    transition: all 600ms ease;
    box-shadow: 0px 2px 2px 0 darken($color_background,10%);

    &.shown {
        transform: translateY(0);
    }
}


.mobile_nav {
    list-style: none;
    background: $color_purple;
    width: 100%;

    a {
        color: #fff;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 2rem;
    }

    li {
        box-sizing: border-box;
        width: 50%;
        display: inline-block;
        border: 1px solid lighten($color_purple,20%);
        border-top: 0;
        &:hover {
            background-color: lighten($color_purple,20%);
        }
        &:nth-child(even) {
            border-right: 0;
            border-left: 0;
        }
        &:nth-child(odd) {
            border-left: 0;
        }
        &:nth-child(odd):last-child {
            border-bottom: 0;
        }
    }
}

.mobile_nav_bar {
    width: 94%;
    margin: 0 auto;
    height: $height_mobile_nav_bar;
}


.hamburger {
    appearance: none;
    border: none;
    float: right;
    margin-top: 40px;
    margin-right: 14px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2236%22%20height%3D%2230%22%20viewBox%3D%220%200%2036%2030%22%20preserveAspectRatio%3D%22xMinYMin%20meet%22%20style%3D%22fill%3A%23000%3B%22%3E%3Crect%20width%3D%2736%27%20height%3D%276%27%2F%3E%3Crect%20y%3D%2724%27%20width%3D%2736%27%20height%3D%276%27%2F%3E%3Crect%20y%3D%2712%27%20width%3D%2736%27%20height%3D%276%27%2F%3E%3C%2Fsvg%3E") no-repeat left center;
    background-size: contain;
}


@media only screen and (min-width: 768px) {
    .header_container {
        display: block;
    }
    .page-content {
        margin-top: 0;
    }
    .sf-menu {
        display: block;
    }
    .mobile_nav_wrapper {
        display: none;
    }
}

@media screen and (min-width:980px)
{
	/* --- menu --- */
	.sf-menu li
	{
		margin-left: 25px;
	}
}
