// SCHEDULE print styles

$font_primary: 'Open Sans', Arial, sans-serif;
$color_font: #211d1d;
$color_font_neutral: #bbb;

.page-content {
    margin-top: 0;
    h1 {
        font-size: 2rem;
    }
}

.page {
    max-width: 100%;
}

.schedule_page {
    .page {
        margin-top: -35px;
        padding-bottom: 8px;
        position: relative;
    }
    h1 {
        display: inline;
        color: $color_font_neutral;
    }
    h2 {
        display: none;
    }
    a {
        color: $color_font;
    }
    .main_content, .upcoming_event {
        &::before, &::after, .divider {
            display: none;
        }
    }
    .main_content_container {
        padding-bottom: 0;
        &.transition_section::after {
            height: 0;
        }
    }
    .main_content, .main_content *, .main_content_text, .main_content_text * {
        font-size: 11px;
        max-width: 100%;
    }
    .main_content_container .main_content {
        max-width: 100%;
        box-shadow: none;
        padding: 0;
        margin: 0;
        h3, h4 {
            display: inline;
            font-family: $font_primary;
            padding: 0;
            line-height: normal;
        }
        .upcoming_event {
            margin-top: 4px;
            margin-bottom: 0;
        }
        .upcoming_event_date {
            &::before {
                content: "(";
            }
            &::after {
                content: "): ";
            }
        }
    }
    .main_content_text {
        display: inline;
        margin-bottom: 0;
        line-height: normal;
        p {
            display: inline;
            margin: 0;
            line-height: normal;
        }
    }
}

.mobile_nav_wrapper, .sf-menu, footer {
    display: none;
}

.header_container {
    z-index: auto;
    display: block;
    text-align: center;
    box-shadow: none;
    .header_left {
        float: none;
        display: inline-block;
    }
    .sf-menu {
        display: none;
        height: 0;
    }
}

.timetable.small {
   display: none;
}

table.timetable {
    display: table;
    margin-top: 16px;
}

table, th, td {
   border: 1px solid #ddd;
}

tr {
    page-break-inside: avoid;
}

.timetable th, .timetable td {
    padding: 6px 10px;
}

.timetable .event {
	background-color: #fff;
	color: $color_font;
    border: 1px solid #ddd;
    a {
        color: $color_font;
        font-weight: normal;
    }
}

@page {
    size: landscape;
}
