<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    {% include head.html %}
    {% if page.banner_image and page.banner_image != blank %}
        <meta property="og:image" content="{{ page.banner_image | prepend: site.url | escape }}" />
    {% endif %}
</head>
<body>
    {% include header.html %}

    <div class="page-content {{ page.url | slugify }}_page">
        {{ content }}
    </div>

    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    <script src="/js/shapeitup.js"></script>

</body>

</html>
