<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    {% include head.html has_carousel=true %}
    {% for panel in page.banner %}
        {% if panel.image and panel.image != blank %}
            <meta property="og:image" content="{{ panel.image | prepend: site.url | escape }}" />
        {% endif %}
    {% endfor %}
</head>
<body>

{% include header.html %}
{% assign company = site.data.company %}

<div class="page-content home_page">

    <div class="owl-carousel"><!--
        --><div class="billboard_column" id="carousel_nutrition" style="background-image: url({{ page.banner[0].image | default: "/img/billboards/herbalife_staff.jpg" | escape }});"><h1 class="title">{{ page.banner[0].title | default: "Nutrition" | escape }}</h1></div><!--
        --><div class="billboard_column" id="carousel_fitness" style="background-image: url({{ page.banner[1].image | default: "/img/billboards/fit_camp_outdoors.jpg" | escape }})"><h1 class="title">{{ page.banner[1].title | default: "Fitness" | escape }}</h1></div><!--
        --><div class="billboard_column" id="carousel_fun" style="background-image: url({{ page.banner[2].image | default: "/img/billboards/fit_camp_group.jpg" | escape }});"><h1 class="title">{{ page.banner[2].title | default: "Fun" | escape }}</h1></div><!--
    --></div>    
    
    <ul class="home_box_container clearfix">
        <li class="home_box first_color">
            <h2>Upcoming Events</h2>
            {% assign sorted_events = site.events | sort: "event_date" | where: "published",true %}
            {% if sorted_events.size == 0 %}
            <div class="home_box_text">
                No events currently scheduled.
            </div>
            {% else %}
            <ul class="items_list upcoming_events clearfix">
                {% for event in sorted_events limit:4 %}
                    {% assign odd_index = forloop.index | modulo:2 %}
                    {% if odd_index == 1 or sorted_events.size == 2 %}
                    <li>
                        <ul class="home_box_column{% if forloop.first == true %} first_column{% endif %}">
                    {% endif %}
                            <li class="items_list_item{% if forloop.first == true %} first{% endif %}">
                            {% if event.has_time_and_date == true %}
                                <a href="/events/#{{ event.title | slugify }}" class="with_date">{{ event.title | escape }}</a>
                                <div class="value">{{ event.event_date | date: "%b %-d" | escape }}</div>
                            {% elsif event.event_end_date and event.event_end_date != blank %}
                                <a href="/events/#{{ event.title | slugify }}">{{ event.title | escape }}</a>
                            {% else %}
                                <a href="/events/#{{ event.title | slugify }}" class="with_date">{{ event.title | escape }}</a>
                                <div class="value">{{ event.event_date | date: "%b %-d" | escape }}</div>
                            {% endif %}
                            </li>
                    {% if odd_index == 0 or sorted_events.size == 2 %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if sorted_events.size == 1 or sorted_events.size == 3 %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <div class="action_area">
                <a class="mb_button" href="/events/">Details</a>
            </div>
            {% endif %}
        </li>
        <li class="home_box second_color">
            <h2>{{ page.nutrition_title | escape }}</h2>
            <div class="home_box_text">
                {{ page.nutrition_description | escape | markdownify }}
            </div>
            {% assign nutrition_page = site.pages | where:"url","/nutrition/" | first %}
            {% if nutrition_page.published %}
            <div class="action_area">
                <a class="mb_button" href="/nutrition/" title="More">More</a>
            </div>
            {% endif %}
        </li>
        <li class="home_box third_color">
            <h2>Group Fitness Rates</h2>
            <ul class="items_list price_list clearfix">
                {% for pass in page.passes limit:4 %}
                    {% assign odd_index = forloop.index | modulo:2 %}
                    {% if odd_index == 1 %}
                    <li>
                        <ul class="home_box_column{% if forloop.first == true %} first_column{% endif %}">
                    {% endif %}
                            <li class="items_list_item{% if forloop.first == true %} first{% endif %}">
                                {{ pass.name | escape }}{% if pass.is_sale == true %} <p class="sale">Sale!</p>{% endif %}
                                <div class="value">{{ pass.price | escape }}</div>
                            </li>
                    {% if odd_index == 0 %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if page.passes.size == 1 or page.passes.size == 3 %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
			{% comment %}
            <div class="action_area">
                <a href="https://clients.mindbodyonline.com/classic/ws?studioid=112719&stype=41&sTG=22" class="mb_button">Buy a Pass</a>
            </div>
			{% endcomment %}
        </li>
    </ul>

    <section class="main_content_container transition_section">
        <div class="main_content">
            <div class="divider"></div>
            <h2 class="company_headline">{{ company.name | escape }}</h2>
            <h3 class="company_headline">{{ company.address1 | escape }}</h3>
            <div class="main_content_text">
                {{ content }}
            </div>
        </div>
    </section>

</div>

{% include footer.html %}
<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="/owl-carousel/owl.carousel.js"></script>
<script src="/js/shapeitup.js"></script>

</body>

</html>
