---
layout: default
company: nutrition
---
{% assign company = site.data.company_nutrition %}

{% if page.banner_image and page.banner_image != blank %}
    <div class="billboard_banner" style="background-image:url('{{ page.banner_image | escape }}');"></div>
{% endif %}

<section class="main_content_container nutrition">
    <div class="main_content">
        <div class="divider"></div>
        <h2 class="company_headline">{{ page.title | escape }}</h2>
        <h3 class="company_headline">{{ company.address1 | escape }}</h3>
        <div class="main_content_text">
            {{ content }}
        </div>
    </div>
</section>

<section class="programs_section">

    <h2 class="section_heading">Programs and Services</h2>
    
    <ul class="home_box_container clearfix"><!--
    
        {% for service in page.service_boxes %}
            --><li id="box-{{ service.title | slugify }}" class="home_box icon_box clearfix" style="background-image:url({{ service.image | escape }});">
           
                <h2 class="home_box_title">{{ service.title | escape }}</h2>
                {% if service.sub_heading %}
                    <h3 class="home_box_title">{{ service.sub_heading | escape }}</h3>
                {% endif %}
                
                <div class="home_box_text">
                    {{ service.description | escape | markdownify }}
                
                    {% assign next_events = site.events | where: "published",true | where: "class",service.title | sort: "event_date" %}
                    {% for event in next_events limit: 1 %}
                        {% if event.has_time_and_date %}
                            <p>Next session begins {{ event.event_date | date: "%a, %b %-d, at %I:%M%p" | escape }}.</p>
                        {% else %}
                            <p>Next session begins {{ event.event_date | date: "%a, %b %-d" | escape }}.</p>
                        {% endif %}
                        {% if event.button_link and event.button_link != blank %}
                            <div class="action_area">
                                <a href="{{ event.button_link | escape }}&date={{ event.event_date | date: "%m/%d/%y" | uri_escape }}" class="mb_button">{{ event.button_label | escape }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    {% if service.button_link and service.button_link != blank %}
                        <div class="action_area">
                            <a class="mb_button" href="{{ service.button_link | escape }}">{{ service.button_label | escape }}</a>
                        </div>         
                    {% endif %}
                </div>
            </li><!--
            {% endfor %}
            
            --><li id="box-nutrition-club-hours" class="home_box icon_box clearfix">
                <h2 class="home_box_title">Hours</h2>
                <ul class="items_list opening_hours clearfix">
                    {% for entry in page.schedule %}
                        <li class="items_list_item icon_clock clearfix">
                            <span>{{ entry.days | escape }}</span>
                            <div class="value">{{ entry.hours | escape }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </li><!--
    --></ul>

</section><!-- programs and services wrapper -->
