---
layout: default
---

<div class="page">

    <h1>{{ page.title | escape }}</h1>
    
    
    <table class="timetable page_margin_top">
        <thead>
            <tr>
                <th></th>
                {% for day in page.days %}
                    <th>{{ day | escape }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% include schedule-table.html time_slots=page.time_slots_morning days=page.days sessions=page.sessions allow_online_signups=page.allow_online_signups %}
            {% include schedule-table.html time_slots=page.time_slots_evening days=page.days sessions=page.sessions allow_online_signups=page.allow_online_signups %}
        </tbody>
    </table><!-- closes timetable table -->
    
    <div class="timetable small page_margin_top">
        {% for day in page.days %}

            <div class="day-entry clearfix">
                <h3 class="box_header{% if forloop.first == false %} page_margin_top{% endif %}">{{ day | escape }}</h3>
                {% comment %}<ul class="items_list dark opening_hours clearfix">{% endcomment %}
					<ul class="timetable_list">
            
                    {% comment %} Use brute force to cycle through the class times in order. It would take a custom sort routine to order the classes correctly, since the start times are stored as strings not times. {% endcomment %} 
                    
                    {% for time in page.time_slots_morning %}
                        {% assign filtered_sessions = page.sessions | where:"day",day | where:"start_time",time | sort:"class" %} {% comment %} 20180410: Added sort. {% endcomment %} 
                    
                        {% for session in filtered_sessions %}
                            {% comment %}<li class="items_list_item icon_clock clearfix items_list_item_new">{% endcomment %}
                            <li class="timetable_list_item">
								{% include schedule-links.html class=session.class class_instructor=session.instructor class_link=session.special_link day=day start_time=session.start_time allow_online_signups=page.allow_online_signups %}
                                <div class="timetable_time">
                                    {{ session.start_time | escape }} - {{ session.end_time | escape }}
                                </div>
                            </li>
                        {% endfor %}

                    {% endfor %}
                    
                    {% for time in page.time_slots_evening %}
                        {% assign filtered_sessions = page.sessions | where:"day",day | where:"start_time",time | sort:"class" %} {% comment %} 20180410: Added sort. {% endcomment %} 
                    
                        {% for session in filtered_sessions %}
                            <li class="timetable_list_item">
								{% include schedule-links.html class=session.class class_instructor=session.instructor class_link=session.special_link day=day start_time=session.start_time allow_online_signups=page.allow_online_signups %}
                                <div class="timetable_time">
                                    {{ session.start_time | escape }} - {{ session.end_time | escape }}
                                </div>
                            </li>
                        {% endfor %}

                    {% endfor %}

                </ul>
            </div>
        {% endfor %}
    </div><!-- closes timetable small -->

</div><!-- closes page -->

<section class="main_content_container transition_section">
    <div class="main_content">
        <div class="divider"></div>
        <h2>Notes and Changes</h2>
        <div class="main_content_text">
            {{ content }}
        </div>
        {% assign next_events = site.events | where: "published",true | where: "class","Schedule" | sort: "event_date" %}
        {% for event in next_events %}
            <div class="upcoming_event">
                <div class="divider"></div>
                <h3>{{ event.title | escape }}</h3>
                {% if event.has_time_and_date == true %}
                    <h4 class="upcoming_event_date">{{ event.event_date | date: "%a, %b %-d, at %-I:%M%p" | escape }}</h4>
                {% elsif event.event_end_date and event.event_end_date != blank %}
                    <h4 class="upcoming_event_date">{{ event.event_date | date: "%b %-d" | escape }} - {{ event.event_end_date | date: "%b %-d" | escape }}</h4>
                {% else %}
                    <h4 class="upcoming_event_date">{{ event.event_date | date: "%a, %b %-d" | escape }}</h4>
                {% endif %}
                <div class="main_content_text">
                    {{ event.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
