<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    {% include head.html %}
    {% comment %}
        20180112: added sort order
    {% endcomment %}
    {% assign sorted_instructors = site.instructors | where: "published",true | sort: "path" %}
    {% for instructor in sorted_instructors %} 
        {% if instructor.image and instructor.image != blank %}
            <meta property="og:image" content="{{ instructor.image | prepend: site.url | escape }}" />
        {% endif %}
    {% endfor %}
</head>
<body>

{% include header.html %}

<div class="page-content staff_page">

    <div class="page">
        <h1>{{ page.title | escape }}</h1>
        <ul class="gallery clearfix">
            {% for instructor in sorted_instructors %} 
                {% comment %}
                    20180112: renamed instructor.name to instructor.full_name
                {% endcomment %}
                <li id="gallery-item-{{ instructor.full_name | default: instructor.title | slugify }}">
                    <div class="gallery_box">
                        {% if instructor.image and instructor.image != blank %}
                        <div class="image_area" style="background-image:url({{ instructor.image | escape }});"></div>
                        {% else %}
                        <div class="image_area"></div>
                        {% endif %}
                        <div class="description">
                            <h3>{{ instructor.full_name | default: instructor.title | escape }}</h3>
                            <h5>{{ instructor.classes | join: ', ' | escape }}</h5>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div><!-- closes page -->

</div><!-- closes page-content -->

{% include footer.html %}

<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js" integrity="sha256-nxdiQ4FdTm28eUNNQIJz5JodTMCF5/l32g5LwfUwZUo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/centeredmasonry.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>
<script src="/js/shapeitup.js"></script>

</body>

</html>
